/*
 * GxUI Library 2.0.1
 * Copyright (c) 2009, Artech
 * All rights reserved.
 * 
 * GxUI Library is freely distributable under the terms of the BSD license.
 * 
 */

x-portlet .x-panel-body {
    background-color:transparent;
}


.ext-ie .x-menu-item-icon {left: -24px; top: 0px;}
.ext-strict .x-menu-item-icon {left: 3px; top: 3px;}
.ext-ie6 .x-menu-item-icon {left: -24px; top: 0px;}


.x-tab-strip-dirty:after {
	content: "*";
}

.auto-width-tab-strip ul.x-tab-strip, .auto-width-tab-strip .x-tab-strip-wrap {
	width: auto !important;
}


.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}


.ext-safari .x-small-editor .x-form-text, .ext-chrome .x-small-editor .x-form-text {
    font-size: 11px;
}

.x-panel-body > .gx_usercontrol_child {
	height:100%;
}

.gx_usercontrol_child {
	height:100%;
}

.gxui-msg-fix .x-panel-body .ErrorMessages {
	position: fixed !important;
}

.x-tree-panel .x-grid-cell-inner a {
    text-decoration: none;
    color: inherit;
}

.x-body #gx_ajax_notification {
    z-index: 1;
}

img.gxui-gridcell-blob {
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.ie .x-tip-body {
	white-space: nowrap;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('resources/images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('resources/images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}


#msg-div {
    position:absolute;
    
    
    width:250px;
    z-index:20000;
}
.x-viewport .x-nested{margin:0;padding:0;border:0 none;overflow:hidden;height:100%;}
.gxui-splash-msg div {
    padding:5px 10px 5px 10px;
    background: transparent;
    border: 0px;
    color:#333;
    font:normal 9px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}

