#scabreadcrumb {
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('bc_bg.gif'); 
    background-repeat:repeat-x;
	height:30px;
    line-height:30px;
    color:#888;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#scabreadcrumb li {
    list-style-type:none;
    padding-left:10px;
	display:inline-block;
	float:left;
}
.home {
    border: medium none;
    margin: 7px 0;
}
#scabreadcrumb a {
	display:inline-block;
    background-image:url('bc_separator.gif'); 
    background-repeat:no-repeat; 
    background-position:right top;
    padding-right: 15px;
    text-decoration: none;
    color:#333333;
	outline:none;
}
#scabreadcrumb a:hover {
	color:#35acc5;
}