div.sdmenu {
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	background: url(images/bottom.gif) no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url(images/title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(images/toptitle.gif) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url(images/expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(images/collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #ffffff;
	display: block;
	border-bottom: 1px solid #ededed;
	color: #000000;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #066 url(images/linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}